<div   class="row">
    <div  class="col-md-7" [form]="reparation"> 
        <div class="row" id="0"></div>
        
        <div class="row">
            <div class="col text-center">
                <div class="drag my-4">
                    <h3>DRAG HERE TO ADD ITEM</h3>
                </div>
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr> 
                    <th>Piece</th>   
                    <th>Etat</th>   
                    <th style="width:100px">Quantity</th>   
                    <th style="width:100px">Prix</th>   
                    <th>ACTION</th>   
                </tr>
            </thead>
            <tbody >
                <tr [form]="data" *ngFor="let data of detailReparation ">
                    <td class="ps-0" id="0"></td>
                    <td class="ps-0" id="1"></td>
                    <td class="ps-0" id="2"></td>
                    <td class="ps-0" id="3"></td>
                    <td class="text-center align-middle" >
                        <i (click)="deleteDetail(data)" class="mx-2 bi bi-trash-fill"></i> 
                        <i class="mx-2 bi bi-pencil-fill"></i>
                        <i class="mx-2 bi bi-eye-fill"></i> 
                    </td>
                </tr>
            </tbody>
        </table>
        
        
        <div class="row">
            <div class="col text-end">
                <button (click)="submit()" nz-button nzType="primary">{{reparation.id?"update":"save"}}</button>
            </div>
        </div>

    </div>
</div>


 



