
<nz-table #middleTable nzBordered nzSize="middle" [nzData]="achatPiece" [nzScroll]="{ x: '1150px', y: '100%' }" nzBordered    >
    <thead>
      <tr>
        <th [nzWidth]="'200px'">VOITURE</th>   
        <th [nzWidth]="'200px'">START DATE</th>  
        <th [nzWidth]="'200px'">END DATE</th>  
        <th [nzWidth]="'200px'">AVANCEMENT</th>  
        <th [nzWidth]="'200px'">COST</th>  
        <th [nzWidth]="'200px'">DESCRIPTION</th>  
        <th [nzWidth]="'200px'">STATUS</th>    
        <th [nzWidth]="'200px'" [nzRight]="true">ACTION</th>  
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor="let data of middleTable.data"> 
        <td>{{ data.id }}</td> 
        <td>{{ data.marquePiece.marquePieceName }}</td> 
        <td>{{ data.prixUnitaire }}</td> 
        <td>{{ data.quantity }}</td> 
        <td>{{ data.prixUnitaire*data.quantity }}</td> 
        <td>{{ data.dateAchatPiece }}</td>  
        <td [nzRight]="true">
            <i class="mx-2 bi bi-trash-fill"></i> 
            <i class="mx-2 bi bi-pencil-fill"></i>
            <i [routerLink]="[data.id,'detail']" class="mx-2 bi bi-eye-fill"></i>
        </td> 

      </tr>
    </tbody>
  </nz-table>  