<nz-table #middleTable nzBordered nzSize="middle" [nzData]="marqueVoiture" [nzScroll]="{x:'100%',y:'100%'}" nzBordered nzSize="middle"  class="h-100" nzNoResult="hahahaaha">
    <thead>
      <tr>
        <th [nzWidth]="'200px'">Marque</th>   
        <th [nzWidth]="'200px'">Id</th>  
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let data of middleTable.data"> 
        <td>{{ data.marqueName }}</td> 
        <td [routerLink]="[data.id]">{{data.id}}</td>

      </tr>
    </tbody>
  </nz-table>