<h3>DETAIL REPARATION</h3>
<nz-table #middleTable nzBordered nzSize="middle" [nzData]="detailReparation" [nzScroll]="{x:'100%',y:'100%'}" nzBordered nzSize="middle"  class="h-100" nzNoResult="hahahaaha">
    <thead>
        <tr> 
            <th [nzWidth]="'200px'">PIECE</th>   
            <th [nzWidth]="'200px'">ETAT</th>   
            <th [nzWidth]="'200px'">QUANTITY</th>   
            <th [nzWidth]="'200px'">COST</th>   
        </tr>
    </thead>
    <tbody class="h-100 bg-info">
        <tr *ngFor="let data of middleTable.data">
            <td>{{data.marquePiece.marquePieceName}}</td>
            <td>{{data.etat}}</td>
            <td>{{data.quantity}}</td>
            <td>{{data.cost}}</td>
        </tr>
    </tbody>
</nz-table>