<div class="row my-3">
  <div class="col text-end">
      <button [routerLink]="'save'" nz-button nzType="primary">save</button>
  </div>
</div>
<nz-table #middleTable nzBordered nzSize="middle" [nzData]="voiture" [nzScroll]="{x:'100%',y:'100%'}" nzBordered nzSize="middle"  class="h-100" nzNoResult="hahahaaha">
    <thead>
      <tr>
        <th [nzWidth]="'200px'">Marque</th>   
        <th [nzWidth]="'200px'">MODEL</th>  
        <th [nzWidth]="'200px'">NUMERO</th>  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of middleTable.data"> 
        <td>{{data.modelVoiture.marqueVoiture.marqueName}}</td>
            <td>{{data.modelVoiture.modelName}}</td>
            <td>{{data.numero}}</td>
            <td [routerLink]="[data.id]">{{data.id}}</td>
      </tr>
    </tbody>
  </nz-table>