<nz-table #middleTable nzBordered nzSize="middle" [nzData]="voiture" [nzScroll]="{x:'100%',y:'100%'}" nzBordered nzSize="middle"  class="h-100" nzNoResult="hahahaaha">
    <thead>
      <tr>
        <th [nzWidth]="'200px'">Marque</th>   
        <th [nzWidth]="'200px'">MODEL</th>  
        <th [nzWidth]="'200px'">NUMERO</th>  
      </tr>
    </thead>
    <tbody class="h-100 bg-info">
      <tr *ngFor="let data of middleTable.data"> 
        <td>{{data.modelVoiture.marqueVoiture.marqueName}}</td>
            <td>{{data.modelVoiture.modelName}}</td>
            <td>{{data.numero}}</td>
            <td [routerLink]="[data.id]">{{data.id}}</td>
      </tr>
    </tbody>
  </nz-table>

<h3>SAVE AN Voiture</h3>
<div   class="row">
    <div  class="col" [form]="voiturei"> 
        <div class="row" id="0"></div>

    </div>
    <div class="row my-3">
        <div class="col text-end">
            <button (click)="submit()" class="btn btn-primary">save</button>
        </div>
    </div>
</div>