@import url("~bootstrap/dist/css/bootstrap.css");
@import "~bootstrap-icons/font/bootstrap-icons.css"; 


.bi{
    font-size: 18px;
}
star-rating *{  
    margin-bottom: 0 !important;
    text-align: start;
    display: inline;
}
.star-container {
    justify-content:start;
}
.rating{
    display: inline;    
}