@import url("~bootstrap/dist/css/bootstrap.css");
@import "~bootstrap-icons/font/bootstrap-icons.css"; 
@import "~ng-zorro-antd/ng-zorro-antd.min.css";


.bi{
    font-size: 18px;
}
.container,body,html{
    min-height:100%
}



.ant-table-body{
    min-height:600px!important;
} 